[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "nvim/.config/nvim/dein"]
	path = nvim/.config/nvim/dein
	url = https://github.com/Shougo/dein.vim.git
[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "zsh/.zcustom/.zcustom/themes/powerlevel10k"]
	path = zsh/.zcustom/.zcustom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
