[submodule "nvim/.config/nvim/dein"]
	path = nvim/.config/nvim/dein
	url = https://github.com/Shougo/dein.vim.git
[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
